@import "tailwindcss";

:root {
  --primary: #34d198;
  --bg: #ffffff;
  --text: #171717;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  border-radius: 8px;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 14px;
}

.btn-outline {
  border: 1px solid var(--primary);
  background: transparent;
  color: var(--primary);
}

.btn-fill {
  background-color: var(--primary);
  color: white;
  border: none;
}

.list {
  list-style-type: disc;
  margin-top: 20px;
  padding-left: 20px;
}

.list-item {
  margin-bottom: 8px;
}
